$mainColor: #323264;
$mainColor_alt: #46466E;
$mainColor_soft: #686887;

$accentColor: #F0145A;

$activeColor_regular: #24A3FF;
$activeColor_hover: #24A3FF;
$activeColor_active: #24A3FF;

$greyColor_bg: #F5F5FA;
$greyColor_bgAlt: #EDEDF7;
$greyColor_text: #B3B3BA;
$greyColor_separator: #E6E6F0;

$gradient_main: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient_soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient_red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
$gradient_supersoft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient_redtext: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);