@use 'mixins_fonts';
@use 'vars';
@use 'mixins';

header {
 @include mixins.flex(start, start, 0px);
 box-sizing: border-box;

 & .bigBoy {
  display: none;
 }

 & .pinned__logo__bigSlash {
  display: none;
 }

 &>.contacts {
  @include mixins.flex(center, space-between, 0px, row);
  padding: 10px 15px;
  width: 100%;
  background: vars.$shadow;
 }

 & > .contacts__forPublication {
  background-color: vars.$greyColor_bg;
 }


 & .lnges__btn {
  padding: 5px 7px;
  border-radius: 8px;
  background: transparent;
  border: none;
  @include mixins_fonts.regulationFont(12px, 700);
 }
 & .contacts__forPublication .forPublicationHeader{
  color: vars.$greyColor_text;
 }

 & .lnges__btn--active {
  background: vars.$accentColor;
 }

 & .contacts__contact {
  @include mixins_fonts.regulationFont(16px, 700);
 }

 &>.pinned {
  @include mixins.flex(center, space-between, 0px, row);
  padding: 15px 15px;
  width: 100%;
 }

 & .pinned__logo {
  @include mixins.flex(flex-start, flex-start, 5px, row);
 }

 & .pinned__logo__assets {
  @include mixins.flex(flex-start, center, 3px, );
  flex-direction: column;
 }

 & .pinned__logo__info {
  @include mixins_fonts.regulationFont(20px, 400);
 }
 & .pinned__logo__info__forPublication{
  color: vars.$mainColor;
 }

 & .pinned__button {
  background: transparent;
  border: none;
 }

 @media screen and (min-width:768px) {
  padding: 50px 60px 30px 60px;
  gap: 30px;

  & .bigBoy {
   display: block;
  }

  & .forMobileElement {
   display: none;
  }

  &>.contacts {
   @include mixins.flex(start, start, 6px, row);
   padding: 0;
   background: none;
   align-items: center;
  }

  & .address__name {
   @include mixins_fonts.regulationFont(16px, 400, vars.$greyColor_text);
  }

  &>.pinned {
   padding: 0;
  }

  & .pinned__logo__assets {
   width: 130px;
   height: 60px;
  }

  & .pinned__logo__bigSlash {
   display: block;
  }

  & .pinned__logo__info {
   @include mixins_fonts.regulationFont(36px, 400);
  }
   & .pinned__logo__info__forPublication{
  color: vars.$mainColor;
 }

  & .pinned__logo__brand {
   width: 130px;
   height: 45px;
  }

  & .pinned__logo__brandName {
   width: 130px;
   height: 7px;
  }

  & .sitenav>ul {
   @include mixins.flex(flex-start, flex-start, 15px, row);
  }
   & .sitenav__cat>a.normalLink{
   color: vars.$activeColor_regular;
  }
  & .sitenav__cat>a {
   @include mixins_fonts.regulationFont(16px, 700);
  }
 }

 @media screen and (min-width:1024px) {
  position: relative;
  align-items: flex-end;

  &>.contacts {
   justify-content: flex-end;
  }

  &>.pinned {
   position: absolute;
   left: 60px;
   top: 50px;
   width: 360px;
   height: 60px;
  }

  & .pinned__logo {
   display: flex;
   align-items: center;
  }

  & .sitenav {
   margin-top: -15px;
  }
 }

 @media screen and (min-width:1920px) {
  padding: 50px 160px 0px 160px;

  &>.pinned {
   left: 160px;
  }
 }
}