header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: start;
  justify-content: start;
  gap: 0px;
  box-sizing: border-box;
}
header .bigBoy {
  display: none;
}
header .pinned__logo__bigSlash {
  display: none;
}
header > .contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  gap: 0px;
  padding: 10px 15px;
  width: 100%;
  background: rgba(245, 245, 250, 0.2);
}
header > .contacts__forPublication {
  background-color: #F5F5FA;
}
header .lnges__btn {
  padding: 5px 7px;
  border-radius: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
header .lnges__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
header .contacts__forPublication .forPublicationHeader {
  color: #B3B3BA;
}
header .contacts__forPublication .forPublicationHeader:hover {
  background-color: #F5F5FA;
}
header .lnges__btn--active {
  background: #F0145A;
  cursor: default;
}
header .lnges__btn--active:hover {
  background: #F0145A;
}
header .contacts__contact {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
header > .pinned {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  gap: 0px;
  padding: 15px 15px;
  width: 100%;
}
header .pinned__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}
header .pinned__logo__assets {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  gap: 3px;
  flex-direction: column;
}
header .pinned__logo__info {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
header .pinned__logo__info__forPublication {
  color: #323264;
}
header .pinned__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
header .pinned__button:hover svg path {
  fill: #E6E6F0;
}
@media screen and (min-width: 768px) {
  header {
    padding: 50px 60px 30px 60px;
    gap: 30px;
  }
  header .bigBoy {
    display: block;
  }
  header .forMobileElement {
    display: none;
  }
  header > .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: start;
    gap: 6px;
    padding: 0;
    background: none;
    align-items: center;
  }
  header > .contacts .facebook:hover path {
    fill: #F0145A;
    cursor: pointer;
  }
  header .address__name {
    color: #B3B3BA;
    font-size: 16px;
    font-weight: 400;
  }
  header > .pinned {
    padding: 0;
  }
  header .pinned__logo__assets {
    width: 130px;
    height: 60px;
  }
  header .pinned__logo__bigSlash {
    display: block;
  }
  header .pinned__logo__info {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
  }
  header .pinned__logo__info__forPublication {
    color: #323264;
  }
  header .pinned__logo__brand {
    width: 130px;
    height: 45px;
  }
  header .pinned__logo__brandName {
    width: 130px;
    height: 7px;
  }
  header .sitenav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  header .sitenav__cat > a.normalLink {
    color: #24A3FF;
  }
  header .sitenav__cat > a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2px;
  }
  header .sitenav__cat > a:hover {
    border-bottom: 2px solid white;
  }
  header .sitenav__cat--whitePage > a {
    color: #24A3FF;
  }
  header .sitenav__cat--whitePage > a:hover {
    border-bottom: 2px solid #24A3FF;
  }
  header .sitenav__cat--active > a {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
  }
  header .sitenav__cat--active > a:hover {
    border-bottom: 2px solid #F0145A;
  }
}
@media screen and (min-width: 1024px) {
  header {
    position: relative;
    align-items: flex-end;
  }
  header > .contacts {
    justify-content: flex-end;
  }
  header > .pinned {
    position: absolute;
    left: 60px;
    top: 50px;
    width: 360px;
    height: 60px;
  }
  header .pinned__logo {
    display: flex;
    align-items: center;
  }
  header .sitenav {
    margin-top: -15px;
  }
}
@media screen and (min-width: 1920px) {
  header {
    padding: 50px 160px 0px 160px;
  }
  header > .pinned {
    left: 160px;
  }
}/*# sourceMappingURL=header.css.map */