@use 'mixins_fonts';
@use 'vars';
@use 'mixins';

.publications {
  @include mixins.flex(flex-start, flex-start, 30px);
  padding: 30px;
  background-color: vars.$greyColor_bg;
  &__moreBTN{
    align-self: center;
    padding: 18px 30px;
    border-radius: 12px;
    background: vars.$activeColor_regular;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.50);

    @include mixins_fonts.regulationFont(16px, 700);
    text-align: center;
  }

  &__categories {
    align-self: center;
    display: flex;
    border-radius: 12px;
    background: vars.$greyColor_separator;
  }

  &__categories > button {
    display: flex;
    padding: 8px 30px 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    margin: 2px;
    background: vars.$greyColor_separator;
  }
  &__categories > button.active {
    background-color: #FFFFFF;
  }

  & .linkWithArrow {
    @include mixins.flex(flex-start, flex-start, 2px, row);
    align-items: center;
    margin-bottom: 5px;
  }

  & .linkWithArrow--caps {
    @include mixins_fonts.regulationFont(14px, 700, vars.$activeColor_regular);
  }

  &>h1 {
    @include mixins_fonts.regulationFont(30px, 700);
    background: vars.$gradient_redtext;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__cards {
    @include mixins.flex(flex-start, flex-start, 30px);
  }

  &__card {
    @include mixins.flex(flex-start, flex-start, 0px);
    background-color: #FFFFFF;
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  &__info {
    padding: 30px;
    @include mixins.flex(flex-start, flex-start, 15px);
  }

  &__name {
    @include mixins_fonts.regulationFont(16px, 700, vars.$activeColor_regular);
  }

  &__date {
    @include mixins_fonts.regulationFont(12px, 700, vars.$greyColor_text);
    text-transform: uppercase;
  }

  &__line {
    width: 100%;
    height: 4px;
    background-color: vars.$greyColor_separator;
  }

  &__text {
    @include mixins_fonts.regulationFont(14px, 400, #000);
  }

  @media screen and (min-width:768px) {
    padding: 30px 60px;

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
      grid-gap: 30px;
    }

    &__cards .card__wide {
      grid-column: 1 / -1;
    }
  }

  @media screen and (min-width:1024px) {
    &__cards {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }    

    &__cards .card__wide {
      grid-column: 3;
    }

    @media screen and (min-width:1920px) {
      padding: 30px 160px;
    }
  }
}