*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;

    font-family: Montserrat;
    font-style: normal;
}