@use 'mixins_fonts';
@use 'vars';
@use 'mixins';

.splash{
 height: 600px;
 width: 100%;
 @include mixins.flex(flex-start,space-between,30px);
 position: relative;
 background-image: url(../img/background/h.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;

 &__arrowDown{
  width: 42px;
  height: 42px;
  display: block;
  align-self: center;
 }
 &__text{
  padding: 0 30px;
  text-align: center;
  @include mixins_fonts.regulationFont(38px, 700);
 }
 @media screen and (min-width:768px){
  height: 1024px;
 }
  @media screen and (min-width:1024px){
  height: 768px;
 }
 @media screen and (min-width:1440px){
  height: 800px;
 }
 @media screen and (min-width:1920px){
  height: 1000px;
 }
}