@use 'mixins_fonts';
@use 'vars';
@use 'mixins';

@import './homepageUp.scss';
@import './splash.scss';
@import './header.scss';
@import './experience.scss';
@import './services.scss';
@import './paginator.scss';
@import './team.scss';
@import './clients.scss';
@import './publications.scss';


footer{
 @include mixins.flex(flex-start,flex-start,30px);
 padding: 30px;
 align-items: center;
 background-color: vars.$greyColor_bg;
 .bigBoy{
  display: none;
 }

 & > .topLine{
  width: 100%;
  height: 2px;
  background-color: vars.$greyColor_separator;
 }

 & > .info{
  @include mixins.flex(flex-start,flex-start,20px);
  align-items: center;
 }
 & .address{
  @include mixins.flex(flex-start,flex-start,10px);
  align-items: center;
 }
 & .address__name{
  @include mixins_fonts.regulationFont(16px, 400, vars.$mainColor);
 }
 & .address > a{
  @include mixins_fonts.regulationFont(12px, 700, vars.$activeColor_regular);
  text-transform: uppercase;
 }
 & .contact{
  @include mixins.flex(flex-start,flex-start,10px);
  align-items: center;
 }
 & .contact__icon{
  cursor: pointer;
 }
 & .contact__icon:hover path{
  fill: vars.$accentColor;
 }
 & .contact__phone{
  @include mixins_fonts.regulationFont(16px, 700, vars.$mainColor_alt);
 }
 & .contact__email{
  @include mixins_fonts.regulationFont(16px, 700, vars.$activeColor_regular);
 }
 & .contact__email:hover{
  color: vars.$accentColor;
 }
 .end{
  @include mixins_fonts.regulationFont(16px, 400, vars.$greyColor_text);
 }
 @media screen and (min-width:768px){
  padding: 30px 60px;
  .bigBoy{
   display: block;
  }
  & > .info{
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 24px;
  }
  & .address{
   @include mixins.flex(flex-start,flex-start,10px, row);
  }
  & .contact{
   grid-row: 2;
   grid-column: span 2;
   @include mixins.flex(flex-start,flex-start,10px, row);
  }
  .end{
   justify-self: end;
  }
 }
 @media screen and (min-width:1920px){
  padding: 30px 120px;
 }
}


