@use 'mixins_fonts';
@use 'vars';
@use 'mixins';

.team{
 padding: 30px;
 @include mixins.flex(flex-start,space-between,30px);

 &__workerCard{
  @include mixins.flex(flex-start,space-between,0px);
  background: vars.$greyColor_bgAlt;
  border-radius: 12px;
 }

 &__workerCard--img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
 }
 & .linkWithArrow {
  @include mixins.flex(flex-start, flex-start, 2px, row);
  align-items: center;
  cursor: pointer;
 }

 & .linkWithArrow:hover .linkWithArrow--caps {
  color: vars.$accentColor;
 }

 & .linkWithArrow:hover svg path {
  stroke: vars.$accentColor;
 }

 & .linkWithArrow--caps {
  @include mixins_fonts.regulationFont(14px, 700, vars.$activeColor_regular);
  text-transform: uppercase;
 }

 & .linkWithArrow svg path {
  stroke: #24A3FF;
 }
 &__workerCard__workerInfo{
  @include mixins.flex(flex-start,flex-start, 30px);
  padding: 30px;
 }
 & .text{
  @include mixins_fonts.regulationFont(30px, 700);
  background: vars.$gradient_redtext;  
  -webkit-background-clip: text;
  color: transparent;
 }
 & .workerInfo__name{
  @include mixins_fonts.regulationFont(16px, 700, vars.$greyColor_text);
  margin-bottom: 5px;
 }
 & .workerInfo__jobposition{
  @include mixins_fonts.regulationFont(14px, 400, vars.$greyColor_text);
 }
 @media screen and (min-width:768px){
  padding: 60px;
 }
 @media screen and (min-width:1024px){
  &__workerCard{
  @include mixins.flex(flex-start,flex-start,0px, row);
  }
  &__workerCard--img{
   width: 380px;
   height: auto;
   border-radius: 12px 0 0 12px;
  }
  & .text{
   @include mixins_fonts.regulationFont(38px, 700);
   background: vars.$gradient_redtext;  
   -webkit-background-clip: text;
   color: transparent;
  }
 }
 @media screen and (min-width:1920px){
  padding: 60px 160px;
 }
}